<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="subscriberSoap11" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/WebServiceSubscriber.svc"
        binding="basicHttpBinding" bindingConfiguration="subscriberSoap11"
        contract="ServiceReference1.subscriber" name="subscriberSoap11" />
    </client>
  </system.serviceModel>
</configuration>