<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SampleBehaviour">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <!-- pick whichever binding you want .... -->
      <basicHttpBinding>
        <!-- binding configuration with a name -->
        <binding name="SampleBinding"
            maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="SubscriberWebService.WebServiceSubscriber" behaviorConfiguration="SampleBehaviour">
        <!-- define endpoint with your binding and the name of the binding configuration
           that you have defined just above -->
        <endpoint address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="SampleBinding"
                  contract="SubscriberWebService.IWebServiceSubscriber" />
      </service>
    </services>
  </system.serviceModel>


  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="sdt"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "servicelog.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>




</configuration>
